.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.bak

__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/
ENV/

.pytest_cache/
.coverage
htmlcov/
build/
developer/
dist/
*.egg-info/

CMakeCache.txt
CMakeFiles/
CMakeSettings.json
Makefile
*.cmake
cmake-build-debug/
cmake-build-release/

**/build/
**/build_cxx/
/out/
/bin/

*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
